.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #564D80;
    padding: 10px;
    border-radius: 10;
    border-width: 1;
  }

.grid-container .btn:nth-child(4n) {
  background-color: #44344F;
  color: white;
}
  
  .calculator-screen {
    background-color: #98A6D4;
    font-family: monospace;
    height: 50px;
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-style: solid;
    border-color: #564D80;
    padding: 10px;
    color: white;
    font-weight: bolder;
  }
  
 
  .btn {
  display: inline-block;
  padding: 12px 24px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* Default Button Styles */
.btn-default {
  background-color: #ffffff;
  color: #333333;
}

.btn-default:hover {
  background-color: #eeeeee;
}

/* Primary Button Styles */
.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Success Button Styles */
.btn-success {
  background-color: #28a745;
  color: #ffffff;
}

.btn-success:hover {
  background-color: #1a682c;
}

.small-text {
  font-size: 6px;
  color: gray;
}