
<div>
    <div class="calculator-screen">
    Total: {{currentNumber$ | async }}<br/>
    Operator: {{ operator$ | async }}<br/>
    Operand: {{ operand$ | async }}
    </div>
    <div class="grid-container">
        <button class="btn" *ngFor="let num of nums" (click)="setOperand(num)">{{num}}</button>
        <!-- clear -->
        <button class="btn" (click)="clearInput()">CE</button>
        <button class="btn" (click)="clearTotal()">AC</button>
        <!-- operators -->
        <button class="btn" (click)="changeOperator('+')">+</button>
        <button class="btn" (click)="changeOperator('-')">-</button>
        <button class="btn" (click)="changeOperator('*')">*</button>
        <button class="btn" (click)="changeOperator('/')">/</button>

        <button class="btn" (click)="calculate()">=</button>
    </div>
</div>